/* Universal font setter for the website, some overwrites later on
    Pairing Orbitron with Raleway fonts for a consistent look
    https://fonts.google.com/specimen/Orbitron#pairings*/
* {
    font-family: Orbitron, Eurostile, Oxygen, serif;
}
body {
    background-image: url('https://i.imgur.com/NruJO99.png');
}

p {
    font-size: 18px;
    color: white;
}

/* Style the footer */
footer {
    background-color: #777;
    padding: 0;
    text-align: center;
    color: white;
}

/* Style the header */
h1 {
    background-color: #777;
    padding: 25px;
    text-align: center;
    color: white;
}

ul {
    font-size: 25px;
    font-weight: bold;
    list-style-type: none;
    margin: 15px;
    padding: 25px;
    width: 250px;
    height: 25px;
    color: orange;
}

ul:hover  {
    color: rgb(100,100,100);
}

li:hover {
    color: black;
    background-color: orange;
}

li a:hover {
    color: black;
    background-color: orange;
}

li a {
    display: block;
}

aside {
    padding: 300px;
    margin: 50px;
    text-align: left;
}
